@import url(chrome://vocalofx-platform/content/overlay.css);
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#main-window
	#navigator-toolbox
{
	border: 0px;
}

#main-window
	#navigator-toolbox > toolbar
, #main-window
	#status-bar > statusbarpanel
{
	border-color: transparent !important;
}

#main-window
	tabbrowser[treestyletab-mode]:not([treestyletab-tabbar-position="top"])
, #main-window
	#sidebar-splitter
{
	border-top: 1px solid threedshadow;
}

#main-window
	menu
, #main-window
	menuitem
, #bookmarksPanel
	menu
, #bookmarksPanel
	menuitem
, #history-panel
	menu
, #history-panel
	menuitem
{
	border: 1px solid transparent;
	padding: 1px !important;
}

#main-window
	.find-field-container
, #main-window
	#urlbar
, #main-window
	.searchbar-textbox
, #bookmarksPanel
	#search-box
, #history-panel
	#search-box
{
	background-color: transparent;
	-moz-appearance: none !important;
}

#main-window
	#navigator-throbber[busy="true"]
, #main-window:not([active="true"]) > #browser-bottombox
{
	opacity: 1 !important;
}

#main-window
, #main-window
	toolbarbutton
, #main-window
	.findbar-textbox
, #main-window
	#sidebar-box > sidebarheader
, #main-window
	#status-bar > statusbarpanel
, #history-panel
	#viewButton
, #main-window
	#urlbar > .autocomplete-textbox-container
, #main-window
	.tabbrowser-tabs
, #main-window
	#navigator-toolbox
, #main-window
	#navigator-toolbox > toolbar
, #main-window
	menu
, #main-window
	menuitem
, #bookmarksPanel
	menu
, #bookmarksPanel
	menuitem
, #history-panel
	menu
, #history-panel
	menuitem
, #main-window
	popup
, #main-window
	menupopup
, #bookmarksPanel
	popup
, #bookmarksPanel
	menupopup
, #history-panel
	popup
, #history-panel
	menupopup
{
	-moz-appearance: none !important;
}

#main-window
	#navigator-toolbox
, #main-window
	#navigator-toolbox > toolbar
, #main-window
	#identity-box
, #main-window
	#identity-box > hbox
, #main-window
	#autocomplete-security-wrapper
, #main-window
	#urlbar[level="high"] > .autocomplete-textbox-container
, #main-window
	#urlbar[level="low"] > .autocomplete-textbox-container
, #main-window
	#urlbar > .autocomplete-history-dropmarker
, #main-window
	#urlbar > .autocomplete-history-dropmarker:hover
, #main-window
	#urlbar > .autocomplete-history-dropmarker[open="true"]
, #main-window
	.searchbar-engine-button
, #main-window
	.findbar-textbox
, #main-window
	.tabbrowser-tabs
, #main-window
	.tabbrowser-tab[selected="true"]
, #main-window
	.tabs-bottom
, #main-window
	.tabbrowser-strip[treestyletab-mode]
	.tabbrowser-tab
, #main-window
	.tabbrowser-strip[treestyletab-mode]
	.tabs-newtab-button
{
	background-color: transparent !important;
}

#main-window
	#navigator-toolbox
, #main-window
	#navigator-toolbox > toolbar
, #main-window
	#navigator-toolbox > #nav-bar
, #main-window
	#navigator-toolbox > #PersonalToolbar
, #main-window
	#FindToolbar
, #main-window
	#urlbar[level="high"] > .autocomplete-textbox-container
, #main-window
	#urlbar[level="low"] > .autocomplete-textbox-container
, #main-window
	#urlbar > .autocomplete-history-dropmarker
, #main-window
	#urlbar > .autocomplete-history-dropmarker:hover
, #main-window
	#urlbar > .autocomplete-history-dropmarker[open="true"]
, #main-window
	.tabbrowser-tabs
, #main-window
	.tabs-bottom
, #bookmarksPanel
	treechildren::-moz-tree-row(selected)
, #bookmarksPanel
	treechildren::-moz-tree-cell-text(selected)
, #history-panel
	treechildren::-moz-tree-row(selected)
, #history-panel
	treechildren::-moz-tree-cell-text(selected)
{
	background-image: none !important;
}

#main-window
	.findbar-textbox[status="notfound"]
{
	color: #bec8d1 !important;
}
#main-window
	.findbar-textbox[status="notfound"]
{
	background-color: #e12885 !important;
	-moz-box-shadow: 0 0 0 1em #e12885 inset;
}
#main-window
	findbar[flash="true"]  > .find-field-container > .findbar-textbox
{
	background-color: #bec8d1 !important;
}
#main-window
	.findbar-textbox[flash="true"]
{
	-moz-box-shadow: 0 0 0 1em #bec8d1 inset;
}
