menuitem[key="goBackKb"],
#context-back {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-small.png") !important;
}
menuitem[key="goBackKb"][disabled],
#context-back[disabled] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-small-disabled.png") !important;
}
menuitem[key="goBackKb"][chromedir="rtl"],
#context-back[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-small.png") !important;
}
menuitem[key="goBackKb"][disabled][chromedir="rtl"],
#context-back[disabled][chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-small-disabled.png") !important;
}

#back-button {
	list-style-image: url("chrome://vocalofx/content/icons/back-button.png") !important;
}
#back-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-disabled.png") !important;
}
#back-button[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl.png") !important;
}
#back-button[disabled="true"][chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-disabled.png") !important;
}

toolbar[iconsize="small"] #back-button {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-small.png") !important;
}
.unified-nav-back[_moz-menuactive] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-small.png") !important;
}
toolbar[iconsize="small"] #back-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-small-disabled.png") !important;
}
toolbar[iconsize="small"] #back-button[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-small.png") !important;
}
menupopup[chromedir="rtl"] > .unified-nav-back[_moz-menuactive] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-small.png") !important;
}
toolbar[iconsize="small"] #back-button[disabled="true"][chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-small-disabled.png") !important;
}
