.bookmark-item:not([container])  {
	list-style-image: url("chrome://vocalofx/content/icons/defaultFavicon.png");
	-moz-image-region: auto;
}
.bookmark-item[container] {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
.bookmark-item[container][livemark] { 
  list-style-image: url("chrome://browser/skin/feeds/feedIcon16.png");
}
.bookmark-item[container][livemark] .bookmark-item {
  list-style-image: url("chrome://browser/skin/places/livemark-item.png");
}
.bookmark-item[container][query] {
  list-style-image: url("chrome://browser/skin/places/query.png");
}
.bookmark-item[query][tagContainer] {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
.bookmark-item[query][dayContainer] {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
.bookmark-item[query][hostContainer] {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
.bookmark-item[query][hostContainer][open] {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
