#bookmarks-button {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button.png") !important;
	-moz-image-region: auto !important;
}
#bookmarks-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button-disabled.png") !important;
	-moz-image-region: auto !important;
}

toolbar[iconsize="small"] #bookmarks-button {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button-small.png") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="small"] #bookmarks-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button-small-disabled.png") !important;
	-moz-image-region: auto !important;
}

toolbar[iconsize="small"] #home-button ,
#home-button.bookmark-item {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button-small.png") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="small"] #home-button[disabled="true"] ,
#home-button.bookmark-item[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button-small-disabled.png") !important;
	-moz-image-region: auto !important;
}
