menuitem[key="goForwardKb"],
#context-forward {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-small.png") !important;
}
menuitem[key="goForwardKb"][disabled],
#context-forward[disabled] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-small-disabled.png") !important;
}
menuitem[key="goForwardKb"][chromedir="rtl"],
#context-forward[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-small.png") !important;
}
menuitem[key="goForwardKb"][disabled][chromedir="rtl"],
#context-forward[disabled][chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-small-disabled.png") !important;
}

#forward-button {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button.png") !important;
}
#forward-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-disabled.png") !important;
}
#forward-button[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl.png") !important;
}
#forward-button[disabled="true"][chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-disabled.png") !important;
}

toolbar[iconsize="small"] #forward-button {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-small.png") !important;
}
.unified-nav-forward[_moz-menuactive] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-small.png") !important;
}
toolbar[iconsize="small"] #forward-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-small-disabled.png") !important;
}
toolbar[iconsize="small"] #forward-button[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-small.png") !important;
}
menupopup[chromedir="rtl"] > .unified-nav-forward[_moz-menuactive] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-small.png") !important;
}
toolbar[iconsize="small"] #forward-button[disabled="true"][chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-small-disabled.png") !important;
}
