#historyMenuHome {
	list-style-image: url("chrome://vocalofx/content/icons/home-button-small.png") !important;
}

#home-button {
	list-style-image: url("chrome://vocalofx/content/icons/home-button.png") !important;
}
#home-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/home-button-disabled.png") !important;
}

toolbar[iconsize="small"] #home-button ,
#home-button.bookmark-item {
	list-style-image: url("chrome://vocalofx/content/icons/home-button-small.png") !important;
}
toolbar[iconsize="small"] #home-button[disabled="true"] ,
#home-button.bookmark-item[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/home-button-small-disabled.png") !important;
}
