@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#main-window
	.findbar-textbox
, #main-window
	#urlbar, .searchbar-textbox
, #bookmarksPanel
	#search-box
, #history-panel
	#search-box
{
	border: 1px solid !important;
}

#main-window
	#urlbar > .autocomplete-history-dropmarker
{
	-moz-appearance: toolbarbutton-dropdown;
}

#bookmarksPanel
	.sidebar-placesTree
, #history-panel
	.sidebar-placesTree
{
	-moz-appearance: none;
}

#main-window
	.tabbrowser-strip[treestyletab-mode]
{
	border-right: 0px !important;
}

#main-window
	#sidebar-header
{
	border-top: 1px solid ThreeDShadow;
}

#main-window
	#sidebar-splitter
{
	min-width: 6px;
}

#main-window
	#sidebar-splitter
, #main-window
	.treestyletab-splitter
{
	background-color: -moz-dialog;
	-moz-appearance: none;
	border-left: 2px solid;
	border-right: 2px solid;
	-moz-border-left-colors  : ThreeDShadow     ThreeDHighlight;
	-moz-border-right-colors : ThreeDDarkShadow ThreeDFace;
}

.tabs-bottom {
  height: 4px;
  margin: 0px;
  background: url("chrome://vocalofx/content/icons/tabstrip-bottom.png") repeat;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.tabbrowser-tab {
  -moz-appearance: none;
  background: url("chrome://vocalofx/content/icons/tab-bkgnd.png") repeat-x;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 2px;
  margin-bottom: 3px;
  padding: 1px;
  border: 1px solid !important;
  border-bottom: none !important;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
}
.tabbrowser-tab:hover,
.tabbrowser-tab[selected="true"] {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  margin-top: 1px;
  margin-bottom: 4px;
}
.tabbrowser-tab:hover > .tab-icon-image,
.tabbrowser-tab[selected="true"] > .tab-icon-image,
.tabbrowser-tab:hover > .tab-close-button,
.tabbrowser-tab[selected="true"] > .tab-close-button {
  margin-bottom: -1px;
}

.tabbrowser-tab:not([selected="true"]):hover {
  padding-bottom: 0px;
  background-image: url("chrome://vocalofx/content/icons/tab-hover-bkgnd.png");
}
.tabbrowser-tab[selected="true"] {
  margin-bottom: 3px;
  background-image: url("chrome://vocalofx/content/icons/tab-active-bkgnd.png");
}

.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down,
.tabs-newtab-button,
.tabs-alltabs-button {
  -moz-appearance: none;
  width: 18px !important;
  border: 1px solid !important;
  border-bottom: none !important;
  background: url("chrome://vocalofx/content/icons/tab-bkgnd.png") repeat-x;
}
.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled="true"]):hover,
.tabbrowser-arrowscrollbox > .scrollbutton-down:not([disabled="true"]):hover,
.tabs-newtab-button:hover,
.tabs-alltabs-button:hover {
  background-image: url("chrome://vocalofx/content/icons/tab-hover-bkgnd.png");
}
