/* chrome://global/skin/tree.css */
treechildren::-moz-tree-image(Name) {
	list-style-image: url("chrome://vocalofx/content/icons/defaultFavicon.png");
	-moz-image-region: auto;
}
treechildren::-moz-tree-image(Name, container) {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
/*
treechildren::-moz-tree-image(Name, separator) {
  list-style-image: none;
  width: 0px;
  height: 0px;
  margin: 0px 0px;
}
*/

/* chrome://browser/skin/places/places.css */
treechildren::-moz-tree-image(title) {
	list-style-image: url("chrome://vocalofx/content/icons/defaultFavicon.png");
	-moz-image-region: auto;
}
treechildren::-moz-tree-image(title, livemarkItem) {
  list-style-image: url("chrome://browser/skin/places/livemark-item.png");
}
/*
treechildren::-moz-tree-image(title, separator) {
  list-style-image: none;
  width: 0;
  height: 0;
}
*/
treechildren::-moz-tree-image(title, container) {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
treechildren::-moz-tree-image(title, container, livemark) {
  list-style-image: url("chrome://browser/skin/feeds/feedIcon16.png");
  -moz-image-region: auto;
}
treechildren::-moz-tree-image(container, OrganizerQuery_AllBookmarks) {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button-small.png");
	-moz-image-region: auto;
}
treechildren::-moz-tree-image(container, OrganizerQuery_BookmarksToolbar) {
  list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.png");
  -moz-image-region: auto;
}
treechildren::-moz-tree-image(container, OrganizerQuery_BookmarksMenu) {
  list-style-image: url("chrome://browser/skin/places/bookmarksMenu.png");
  -moz-image-region: auto;
}
treechildren::-moz-tree-image(container, OrganizerQuery_UnfiledBookmarks) {
  list-style-image: url("chrome://browser/skin/places/unsortedBookmarks.png");
  -moz-image-region: auto;
}
/* query-nodes should be styled even if they're not expandable */
treechildren::-moz-tree-image(title, query) {
  list-style-image: url("chrome://browser/skin/places/query.png");
}
treechildren::-moz-tree-image(title, query, tagContainer),
treechildren::-moz-tree-image(container, OrganizerQuery_Tags) {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
/* calendar icon for folders grouping items by date */
treechildren::-moz-tree-image(title, query, dayContainer) {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
treechildren::-moz-tree-image(title, query, hostContainer) {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
treechildren::-moz-tree-image(title, query, hostContainer, open) {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
treechildren::-moz-tree-image(title, query, OrganizerQuery_History) {
  list-style-image: url("chrome://browser/skin/Toolbar-small.png");
  -moz-image-region: rect(0px 32px 16px 16px);
}
/* We want some queries to look like ordinary folders. This must come
   after the (title, query) selector, or it would get overridden. */
treechildren::-moz-tree-image(title, query, folder) {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
