#navigator-throbber {
	list-style-image: url("chrome://vocalofx/content/icons/notloading_16.png") !important;
}
#navigator-throbber[busy="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/loading_16.png") !important;
}

toolbar[mode="text"] #navigator-throbber,
toolbar[iconsize="small"] #navigator-throbber {
	list-style-image: url("chrome://vocalofx/content/icons/notloading_16.png") !important;
}
toolbar[mode="text"] #navigator-throbber[busy="true"],
toolbar[iconsize="small"] #navigator-throbber[busy="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/loading_16.png") !important;
}

.tabbrowser-tab[busy] > .tab-icon-image {
	list-style-image: url("chrome://vocalofx/content/icons/loading_16.png") !important;
}
.alltabs-item[busy] > .menu-iconic-left > .menu-iconic-icon {
	list-style-image: url("chrome://vocalofx/content/icons/loading_16.png") !important;
}

#sidebar-throbber[loading="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/loading_16.png") !important;
}

#checkForUpdates[loading="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/loading_16.png") !important;
}
