#back-forward-dropmarker {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif") !important;
	-moz-image-region: auto !important;
}
#back-forward-dropmarker[chromedir="rtl"] {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif") !important;
	-moz-image-region: auto !important;
}
#back-forward-dropmarker[disabled="true"] {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif") !important;
	-moz-image-region: auto !important;
}
#back-forward-dropmarker[disabled="true"][chromedir="rtl"] {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif") !important;
	-moz-image-region: auto !important;
}
#back-forward-dropmarker:hover:active:not([disabled]),
#back-forward-dropmarker[open="true"] {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-hov.gif") !important;
	-moz-image-region: auto !important;
}
#back-forward-dropmarker[chromedir="rtl"]:hover:active:not([disabled]),
#back-forward-dropmarker[open="true"][chromedir="rtl"] {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-hov.gif") !important;
	-moz-image-region: auto !important;
}

toolbar[iconsize="small"] #unified-back-forward-button > #back-forward-dropmarker {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="small"] #unified-back-forward-button > #back-forward-dropmarker[chromedir="rtl"] {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="small"] #unified-back-forward-button > #back-forward-dropmarker[disabled="true"] {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="small"] #unified-back-forward-button > #back-forward-dropmarker[disabled="true"][chromedir="rtl"] {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="small"] #unified-back-forward-button > #back-forward-dropmarker:hover:active:not([disabled]),
toolbar[iconsize="small"] #unified-back-forward-button > #back-forward-dropmarker[open="true"] {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-hov.gif") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="small"] #unified-back-forward-button > #back-forward-dropmarker[chromedir="rtl"]:hover:active:not([disabled]),
toolbar[iconsize="small"] #unified-back-forward-button > #back-forward-dropmarker[open="true"][chromedir="rtl"] {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-hov.gif") !important;
	-moz-image-region: auto !important;
}
