#back-button {
	list-style-image: url("chrome://vocalofx/content/icons/back-button.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
#back-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-disabled.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
#back-button:hover:active:not([disabled]),
#back-button[buttondown="true"]:not([disabled]),
#back-button[open="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-hover.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}

toolbar[mode="icons"] #unified-back-forward-button > #back-button {
	list-style-image: url("chrome://vocalofx/content/icons/back-button.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"] #unified-back-forward-button > #back-button[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"] #unified-back-forward-button > #back-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-disabled.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"] #unified-back-forward-button > #back-button[disabled="true"][chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-disabled.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"] #unified-back-forward-button > #back-button:hover:active:not([disabled]),
toolbar[mode="icons"] #unified-back-forward-button > #back-button[open="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-hover.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"] #unified-back-forward-button > #back-button:hover:active[chromedir="rtl"]:not([disabled]),
toolbar[mode="icons"] #unified-back-forward-button > #back-button[open="true"][chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-hover.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}

toolbar[mode="icons"][iconsize="small"] #unified-back-forward-button > #back-button {
	list-style-image: url("chrome://vocalofx/content/icons/back-button.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"][iconsize="small"] #unified-back-forward-button > #back-button[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"][iconsize="small"] #unified-back-forward-button > #back-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-disabled.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"][iconsize="small"] #unified-back-forward-button > #back-button[disabled="true"][chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-disabled.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"][iconsize="small"] #unified-back-forward-button > #back-button:hover:active:not([disabled]),
toolbar[mode="icons"][iconsize="small"] #unified-back-forward-button > #back-button[open="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-hover.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"][iconsize="small"] #unified-back-forward-button > #back-button[chromedir="rtl"]:hover:active:not([disabled]),
toolbar[mode="icons"][iconsize="small"] #unified-back-forward-button > #back-button[open="true"][chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-hover.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
