#bookmarks-button {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button.png") !important;
	-moz-image-region: rect(0px, 24px, 23px, 0px) !important;
}
#bookmarks-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button-disabled.png") !important;
	-moz-image-region: rect(0px, 24px, 23px, 0px) !important;
}
#bookmarks-button:hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button-hover.png") !important;
	-moz-image-region: rect(0px, 24px, 23px, 0px) !important;
}
#bookmarks-button[checked="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button-hover.png") !important;
	-moz-image-region: rect(0px, 24px, 23px, 0px) !important;
}
#bookmarks-button[checked="true"]:hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button.png") !important;
	-moz-image-region: rect(0px, 24px, 23px, 0px) !important;
}
