#forward-button {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
#forward-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-disabled.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
#forward-button:hover:active:not([disabled]),
#forward-button[buttondown="true"]:not([disabled]),
#forward-button[open="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-hover.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}

toolbar[mode="icons"] #unified-back-forward-button > #forward-button {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"] #unified-back-forward-button > #forward-button[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"] #unified-back-forward-button > #forward-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-disabled.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"] #unified-back-forward-button > #forward-button[disabled="true"][chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-disabled.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"] #unified-back-forward-button > #forward-button:hover:active:not([disabled]),
toolbar[mode="icons"] #unified-back-forward-button > #forward-button[open="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-hover.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"] #unified-back-forward-button > #forward-button[chromedir="rtl"]:hover:active:not([disabled]),
toolbar[mode="icons"] #unified-back-forward-button > #forward-button[open="true"][chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-hover.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}

toolbar[mode="icons"][iconsize="small"] #unified-back-forward-button > #forward-button {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"][iconsize="small"] #unified-back-forward-button > #forward-button[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"][iconsize="small"] #unified-back-forward-button > #forward-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-disabled.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"][iconsize="small"] #unified-back-forward-button > #forward-button[disabled="true"][chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-disabled.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"][iconsize="small"] #unified-back-forward-button > #forward-button:hover:active:not([disabled]),
toolbar[mode="icons"][iconsize="small"] #unified-back-forward-button > #forward-button[open="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-hover.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
toolbar[mode="icons"][iconsize="small"] #unified-back-forward-button > #forward-button[chromedir="rtl"]:hover:active:not([disabled]),
toolbar[mode="icons"][iconsize="small"] #unified-back-forward-button > #forward-button[open="true"][chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-hover.png") !important;
	-moz-image-region: rect(1px, 24px, 24px, 0px) !important;
}
