#home-button {
	list-style-image: url("chrome://vocalofx/content/icons/home-button.png") !important;
	-moz-image-region: rect(0px, 24px, 23px, 0px) !important;
}
#home-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/home-button-disabled.png") !important;
	-moz-image-region: rect(0px, 24px, 23px, 0px) !important;
}
#home-button:hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/home-button-hover.png") !important;
	-moz-image-region: rect(0px, 24px, 23px, 0px) !important;
}
#home-button.bookmark-item {
	list-style-image: url("chrome://vocalofx/content/icons/home-button-small.png") !important;
}
