@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#identity-icon-label {
	margin-right: -10px;
}

#identity-box {
  min-width: 44px;
}
#urlbar {
  -moz-padding-end: 10px;
}
.searchbar-textbox > .autocomplete-textbox-container > .textbox-input-box,
.search-go-container {
  margin-bottom: 2px;
}
.searchbar-textbox > .searchbar-engine-button {
  -moz-margin-start: -44px;
}

#sidebar-splitter
{
	min-width: 6px;
	-moz-border-end: none;
}
#sidebar-splitter
, .treestyletab-splitter
{
	background-color: -moz-dialog;
	border-left: 2px solid;
	border-right: 2px solid;
	-moz-border-left-colors  : ThreeDShadow     ThreeDHighlight;
	-moz-border-right-colors : ThreeDDarkShadow ThreeDFace;
}

#sidebar-header
{
	border-top: 1px solid ThreeDShadow;
}
.tabbrowser-strip[treestyletab-mode]:not([treestyletab-tabbar-position="top"])
{
	margin-top: 0px;
}

#bookmarksPanel
	#search-box
, #history-panel
	#search-box
{
	border: 1px solid;
	padding: 2px;
	-moz-border-top-colors:    -moz-mac-focusring -moz-mac-focusring #000000;
	-moz-border-right-colors:  -moz-mac-focusring -moz-mac-focusring #000000;
	-moz-border-bottom-colors: -moz-mac-focusring -moz-mac-focusring #000000;
	-moz-border-left-colors:   -moz-mac-focusring -moz-mac-focusring #000000;
}
#history-panel
	#viewButton
{
	background-image: none;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
}
#history-panel
	#viewButton:focus
{
	-moz-outline-radius: 0px;
}


.tabbrowser-strip {
  background-color: transparent !important;
  border-bottom: 0px;
}
.tabs-bottom {
  height: 4px;
  margin: 0px;
  background: url("chrome://vocalofx/content/icons/tabstrip-bottom.png") repeat;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.tabbrowser-tab,
.tabbrowser-arrowscrollbox > .tabs-newtab-button {
  -moz-appearance: none;
  background: url("chrome://vocalofx/content/icons/tab-bkgnd.png") repeat-x !important;
  margin: 3px 0px 4px;
  padding: 0px 1px 0px 0px;
  border: 2px solid;
  border-right-width: 1px;
  border-bottom: none;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
}
.tabbrowser-tab:hover,
.tabbrowser-tab[selected="true"],
.tabbrowser-arrowscrollbox > .tabs-newtab-button:hover,
.tabbrowser-arrowscrollbox > .tabs-newtab-button[selected="true"] {
  border-width: 1px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
}
.tabbrowser-tab:not([selected="true"]):hover,
.tabbrowser-arrowscrollbox > .tabs-newtab-button:not([selected="true"]):hover {
  margin: 2px 0px 3px;
  padding: 2px 1px 1px;
  background-image: url("chrome://vocalofx/content/icons/tab-hover-bkgnd.png") !important;
}
.tabbrowser-tab[selected="true"],
.tabbrowser-arrowscrollbox > .tabs-newtab-button[selected="true"] {
  margin: 2px 0px 3px;
  padding: 1px;
  background-image: url("chrome://vocalofx/content/icons/tab-active-bkgnd.png") !important;
}

.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down-stack > .scrollbutton-down,
.tabs-container > .tabs-newtab-button,
.tabs-alltabs-button {
  -moz-appearance: none;
  width: 18px !important;
  margin: 3px 0px 4px;
  padding: 0px;
  border: 2px solid;
  border-right-width: 1px;
  border-bottom: none;
  background: url("chrome://vocalofx/content/icons/tab-bkgnd.png") repeat-x !important;
}
.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled="true"]):hover,
.tabbrowser-arrowscrollbox > .scrollbutton-down-stack > .scrollbutton-down:not([disabled="true"]):hover,
.tabs-container > .tabs-newtab-button:hover,
.tabs-alltabs-button:hover {
  border-top-width: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-image: url("chrome://vocalofx/content/icons/tab-hover-bkgnd.png") !important;
}

.tabbrowser-arrowscrollbox > .tabs-newtab-button {
  width: 18px !important;
}

/* fx-3.0 */
.tab-image-left, .tab-image-middle, .tab-closebutton, .tab-close-button, .tab-image-right {
  background-image: none !important;
}

.tab-icon-image {
  margin-top: 0px !important;
}
.tab-text {
  margin-top: 1px !important;
}
.tab-close-button {
  margin-top: -1px !important;
}
