toolbar[iconsize="large"][mode="icons"] #back-forward-dropmarker {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="large"][mode="icons"] #back-forward-dropmarker:not([disabled="true"]):hover {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-hov.gif") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="large"][mode="icons"] #back-forward-dropmarker[disabled="true"] {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="large"][mode="icons"] #back-forward-dropmarker:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-hov.gif") !important;
	-moz-image-region: auto !important;
}

toolbar[iconsize="small"][mode="icons"] #back-forward-dropmarker {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="small"][mode="icons"] #back-forward-dropmarker:not([disabled="true"]):hover {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-hov.gif") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="small"][mode="icons"] #back-forward-dropmarker[disabled="true"] {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="small"][mode="icons"] #back-forward-dropmarker:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-hov.gif") !important;
	-moz-image-region: auto !important;
}
