toolbar[iconsize="large"][mode="icons"] #back-button {
	list-style-image: url("chrome://vocalofx/content/icons/back-button.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
toolbar[iconsize="large"][mode="icons"] #back-button:not([disabled="true"]):hover {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
toolbar[iconsize="large"][mode="icons"] #back-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-disabled.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
toolbar[iconsize="large"][mode="icons"] #back-button:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
toolbar[iconsize="large"][mode="icons"] #back-button[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
toolbar[iconsize="large"][mode="icons"] #back-button[chromedir="rtl"]:not([disabled="true"]):hover {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
toolbar[iconsize="large"][mode="icons"] #back-button[chromedir="rtl"][disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-disabled.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
toolbar[iconsize="large"][mode="icons"] #back-button[chromedir="rtl"]:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}

toolbar[iconsize="small"][mode="icons"] #back-button {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-small.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"][mode="icons"] #back-button:not([disabled="true"]):hover {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-small-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"][mode="icons"] #back-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-small-disabled.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"][mode="icons"] #back-button:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-small-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"][mode="icons"] #back-button[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-small.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"][mode="icons"] #back-button[chromedir="rtl"]:not([disabled="true"]):hover {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-small-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"][mode="icons"] #back-button[chromedir="rtl"][disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-small-disabled.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"][mode="icons"] #back-button[chromedir="rtl"]:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-small-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}

#back-button {
	list-style-image: url("chrome://vocalofx/content/icons/back-button.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
#back-button:not([disabled="true"]):hover,
#back-button[buttonover="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
#back-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-disabled.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
#back-button:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
#back-button[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
#back-button[chromedir="rtl"]:not([disabled="true"]):hover,
#back-button[chromedir="rtl"][buttonover="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
#back-button[chromedir="rtl"][disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-disabled.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
#back-button[chromedir="rtl"]:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}

toolbar[iconsize="small"] #back-button {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-small.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"] #back-button:not([disabled="true"]):hover,
toolbar[iconsize="small"] #back-button[buttonover="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-small-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"] #back-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-small-disabled.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"] #back-button:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-small-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"] #back-button[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-small.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"] #back-button[chromedir="rtl"]:not([disabled="true"]):hover,
toolbar[iconsize="small"] #back-button[chromedir="rtl"][buttonover="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-small-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"] #back-button[chromedir="rtl"][disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-small-disabled.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"] #back-button[chromedir="rtl"]:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/back-button-rtl-small-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
