.bookmark-item  {
	list-style-image: url("chrome://vocalofx/content/icons/defaultFavicon.png");
	-moz-image-region: auto;
}
.bookmark-item[container] {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
.bookmark-item[container][open] {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
.bookmark-item[container][livemark] { 
  list-style-image: url("chrome://browser/skin/livemark-folder.png");
  -moz-image-region: auto;
}
.bookmark-item[container][livemark] .bookmark-item {
  list-style-image: url("chrome://browser/skin/livemark-item.png");
  -moz-image-region: auto;
}
.bookmark-item[container][query] {
  list-style-image: url("chrome://browser/skin/places/query.png");
  -moz-image-region: auto;
}
.bookmark-item[query][tagContainer] {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
.bookmark-item[query][dayContainer] {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
.bookmark-item[query][hostContainer] {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
.bookmark-item[query][hostContainer][open] {
	list-style-image: url("chrome://vocalofx/content/icons/folder.png");
	-moz-image-region: auto;
}
