#bookmarks-button {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button.png") !important;
	-moz-image-region: auto !important;
}
#bookmarks-button:not([disabled="true"]):not([checked="true"]):hover {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button-hover.png") !important;
	-moz-image-region: auto !important;
}
#bookmarks-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button-disabled.png") !important;
	-moz-image-region: auto !important;
}
#bookmarks-button[checked="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button.png") !important;
	-moz-image-region: auto !important;
}
#bookmarks-button:not([disabled="true"]):not([checked="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button-hover.png") !important;
	-moz-image-region: auto !important;
}

toolbar[iconsize="small"] #bookmarks-button {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button-small.png") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="small"] #bookmarks-button:not([disabled="true"]):not([checked="true"]):hover {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button-small-hover.png") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="small"] #bookmarks-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button-small-disabled.png") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="small"] #bookmarks-button[checked="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button-small.png") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="small"] #bookmarks-button:not([disabled="true"]):not([checked="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/bookmarks-button-small-hover.png") !important;
	-moz-image-region: auto !important;
}
