#page-proxy-favicon:not([src]) {
	list-style-image: url("chrome://vocalofx/content/icons/defaultFavicon.png") !important;
	-moz-image-region: auto !important;
}
#page-proxy-favicon[pageproxystate="invalid"] {
	list-style-image: url("chrome://vocalofx/content/icons/item-grayscale.png") !important;
	-moz-image-region: auto !important;
}

.tab-icon-image {
	list-style-image: url("chrome://vocalofx/content/icons/defaultFavicon.png") !important;
	-moz-image-region: auto !important;
}
.alltabs-item > .menu-iconic-left > .menu-iconic-icon {
	list-style-image: url("chrome://vocalofx/content/icons/defaultFavicon.png") !important;
	-moz-image-region: auto !important;
}
