toolbar[iconsize="large"][mode="icons"] #forward-button {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
toolbar[iconsize="large"][mode="icons"] #forward-button:not([disabled="true"]):hover {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
toolbar[iconsize="large"][mode="icons"] #forward-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-disabled.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
toolbar[iconsize="large"][mode="icons"] #forward-button:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
toolbar[iconsize="large"][mode="icons"] #forward-button[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
toolbar[iconsize="large"][mode="icons"] #forward-button[chromedir="rtl"]:not([disabled="true"]):hover {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
toolbar[iconsize="large"][mode="icons"] #forward-button[chromedir="rtl"][disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-disabled.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
toolbar[iconsize="large"][mode="icons"] #forward-button[chromedir="rtl"]:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}

toolbar[iconsize="small"][mode="icons"] #forward-button {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-small.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"][mode="icons"] #forward-button:not([disabled="true"]):hover {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-small-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"][mode="icons"] #forward-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-small-disabled.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"][mode="icons"] #forward-button:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-small-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"][mode="icons"] #forward-button[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-small.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"][mode="icons"] #forward-button[chromedir="rtl"]:not([disabled="true"]):hover {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-small-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"][mode="icons"] #forward-button[chromedir="rtl"][disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-small-disabled.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"][mode="icons"] #forward-button[chromedir="rtl"]:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-small-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}

#forward-button {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
#forward-button:not([disabled="true"]):hover,
#forward-button[buttonover="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
#forward-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-disabled.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
#forward-button:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
#forward-button[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
#forward-button[chromedir="rtl"]:not([disabled="true"]):hover,
#forward-button[chromedir="rtl"][buttonover="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
#forward-button[chromedir="rtl"][disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-disabled.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}
#forward-button[chromedir="rtl"]:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 6px !important;
}

toolbar[iconsize="small"] #forward-button {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-small.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"] #forward-button:not([disabled="true"]):hover,
toolbar[iconsize="small"] #forward-button[buttonover="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-small-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"] #forward-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-small-disabled.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"] #forward-button:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-small-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"] #forward-button[chromedir="rtl"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-small.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"] #forward-button[chromedir="rtl"]:not([disabled="true"]):hover,
toolbar[iconsize="small"] #forward-button[chromedir="rtl"][buttonover="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-small-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"] #forward-button[chromedir="rtl"][disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-small-disabled.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
toolbar[iconsize="small"] #forward-button[chromedir="rtl"]:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/forward-button-rtl-small-hover.png") !important;
	-moz-image-region: auto !important;
	padding: 5px !important;
}
