#home-button {
	list-style-image: url("chrome://vocalofx/content/icons/home-button.png") !important;
	-moz-image-region: auto !important;
}
#home-button:not([disabled="true"]):hover {
	list-style-image: url("chrome://vocalofx/content/icons/home-button-hover.png") !important;
	-moz-image-region: auto !important;
}
#home-button[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/home-button-disabled.png") !important;
	-moz-image-region: auto !important;
}
#home-button:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/home-button-hover.png") !important;
	-moz-image-region: auto !important;
}

toolbar[iconsize="small"] #home-button ,
#home-button.bookmark-item {
	list-style-image: url("chrome://vocalofx/content/icons/home-button-small.png") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="small"] #home-button:not([disabled="true"]):hover ,
#home-button.bookmark-item:not([disabled="true"]):hover {
	list-style-image: url("chrome://vocalofx/content/icons/home-button-small-hover.png") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="small"] #home-button[disabled="true"] ,
#home-button.bookmark-item[disabled="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/home-button-small-disabled.png") !important;
	-moz-image-region: auto !important;
}
toolbar[iconsize="small"] #home-button:not([disabled="true"]):hover:active ,
#home-button.bookmark-item:not([disabled="true"]):hover:active {
	list-style-image: url("chrome://vocalofx/content/icons/home-button-small-hover.png") !important;
	-moz-image-region: auto !important;
}
