@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#main-window
	.findbar-textbox
, #main-window
	#urlbar
, #main-window
	.searchbar-textbox
, #bookmarksPanel
	#search-box
, #history-panel
	#search-box
{
	border: 1px solid;
}

#main-window
	#urlbar:-moz-system-metric(windows-default-theme)
{
	border-left: 0px;
}
