#navigator-throbber {
	list-style-image: url("chrome://vocalofx/content/icons/notloading_16.png") !important;
}
#navigator-throbber[busy="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/loading_16.png") !important;
}

toolbar[iconsize="small"] #navigator-throbber,
toolbar[mode="text"] #navigator-throbber {
	list-style-image: url("chrome://vocalofx/content/icons/notloading_16.png") !important;
}
toolbar[iconsize="small"] #navigator-throbber[busy="true"],
toolbar[mode="text"] #navigator-throbber[busy="true"] {
	list-style-image: url("chrome://vocalofx/content/icons/loading_16.png") !important;
}

.tabbrowser-tab[busy] > .tab-icon-image {
	list-style-image: url("chrome://vocalofx/content/icons/loading_16.png") !important;
}
