@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#main-window
	menu
, #main-window
	menuitem
, #main-window
	toolbarbutton
, #main-window
	toolbaritem
, #main-window
	.autocomplete-richlistitem
, #main-window
	#sidebar-box > sidebarheader
, #main-window
	#sidebar-title
, #main-window
	#FindToolbar
, #main-window
	#FindToolbar label
, #bookmarksPanel
	menu
, #bookmarksPanel
	menuitem
, #bookmarksPanel
	treechildren
, #history-panel
	menu
, #history-panel
	menuitem
, #history-panel
	treechildren
{
	color: #ffffff !important;
}

#main-window
	.tabbrowser-tab
, #main-window
	#urlbar
, #main-window
	.autocomplete-richlistitem .ac-url-text
, #main-window
	#autocomplete-security-wrapper
, #main-window
	#urlbar[level="high"] > .autocomplete-textbox-container
, #main-window
	#urlbar[level="low"] > .autocomplete-textbox-container
, #main-window
	.searchbar-textbox
, #main-window
	#status-bar
, #main-window
	.findbar-textbox
, #bookmarksPanel
, #bookmarksPanel
	#search-box
, #history-panel
, #history-panel
	#search-box
, #history-panel
	#viewButton
{
	color: #ffca3d !important;
}

#main-window
	.find-field-container
, #main-window
	.findbar-textbox
, #main-window
	#urlbar
, #main-window
	.searchbar-engine-button
, #main-window
	.searchbar-textbox
, #main-window
	#identity-box
, #main-window
	#urlbar > .autocomplete-history-dropmarker
, #bookmarksPanel
	#search-box
, #history-panel
	#search-box
{
	-moz-border-top-colors:    #ffca3d !important;
	-moz-border-left-colors:   #ffca3d !important;
	-moz-border-right-colors:  #ffca3d !important;
	-moz-border-bottom-colors: #ffca3d !important;
}

#main-window
	menu[_moz-menuactive="true"]
, #main-window
	menuitem[_moz-menuactive="true"]
, #main-window
	.autocomplete-richlistitem[selected="true"]
, #main-window
	grippy:hover
, #bookmarksPanel
	menu[_moz-menuactive="true"]
, #bookmarksPanel
	menuitem[_moz-menuactive="true"]
, #bookmarksPanel
	treechildren::-moz-tree-row(selected)
, #bookmarksPanel
	treechildren::-moz-tree-cell-text(selected)
, #history-panel
	menu[_moz-menuactive="true"]
, #history-panel
	menuitem[_moz-menuactive="true"]
, #history-panel
	treechildren::-moz-tree-row(selected)
, #history-panel
	treechildren::-moz-tree-cell-text(selected)
, #main-window
	.tabbrowser-strip[treestyletab-mode]:not([treestyletab-tabbar-position="top"])
	.tabbrowser-tab:hover
, #main-window
	.tabbrowser-strip[treestyletab-mode]:not([treestyletab-mode="horizontal"])
	.tabs-newtab-button:hover
{
	background-color: #a170e4 !important;
	color: #ffffff !important;
}

#main-window
	#status-bar > statusbarpanel
{
	border-top-color: #a170e4 !important;
}

#main-window
	tabbrowser[treestyletab-mode]:not([treestyletab-tabbar-position="top"])
, #main-window
	#sidebar-box > sidebarheader
, #main-window
	#PersonalToolbar
, #main-window
	.autocomplete-richlistitem
, #main-window
	grippy
, #main-window
	.tabs-bottom
{
	border-color: #a170e4 !important;
}

#main-window
	popup
, #main-window
	menupopup
, #main-window
	panel[type="autocomplete-richlistbox"]
, #main-window
	#FindToolbar
, #bookmarksPanel
	popup
, #bookmarksPanel
	menupopup
, #bookmarksPanel
	.sidebar-placesTree
, #history-panel
	popup
, #history-panel
	menupopup
, #history-panel
	.sidebar-placesTree
, #history-panel
	#viewButton
, #main-window
	#sidebar-splitter
, #main-window
	.treestyletab-splitter
{
	-moz-border-top-colors   : #a170e4 #6759A1 transparent !important;
	-moz-border-left-colors  : #a170e4 #6759A1 transparent !important;
	-moz-border-right-colors : #a170e4 #6759A1 transparent !important;
	-moz-border-bottom-colors: #a170e4 #6759A1 transparent !important;
/* #6759A1 = (#a170e4 + #4b4e77 * 2) / 3 */
}

#main-window
	.tabbrowser-tab
, #main-window
	.tabbrowser-arrowscrollbox > .scrollbutton-up
, #main-window
	.tabbrowser-arrowscrollbox > .scrollbutton-down
, #main-window
	.tabbrowser-arrowscrollbox > .scrollbutton-down-stack > .scrollbutton-down /* mac */
, #main-window
	.tabs-newtab-button
, #main-window
	.tabs-alltabs-button
{
	-moz-border-top-colors   : #6759A1 transparent;
	-moz-border-left-colors  : #6759A1 transparent;
	-moz-border-right-colors : #6759A1 transparent;
}

#main-window
	.tabbrowser-tab:hover
, #main-window
	.tabbrowser-tab[selected="true"]
, #main-window
	.tabbrowser-arrowscrollbox > .scrollbutton-up:hover
, #main-window
	.tabbrowser-arrowscrollbox > .scrollbutton-down:hover
, #main-window
	.tabbrowser-arrowscrollbox > .scrollbutton-down-stack > .scrollbutton-down:hover /* mac */
, #main-window
	.tabs-newtab-button:hover
, #main-window
	.tabs-alltabs-button:hover
{
	-moz-border-top-colors   : #a170e4 transparent;
	-moz-border-left-colors  : #a170e4 transparent;
	-moz-border-right-colors : #a170e4 transparent;
}

#main-window
, #main-window
	popup:not([id="autoscroller"])
, #main-window
	menupopup
, #main-window
	.autocomplete-richlistitem
, #main-window
	#sidebar-splitter
, #main-window
	#sidebar-box > sidebarheader
, #main-window
	#sidebar-title
, #main-window
	#FindToolbar
, #main-window
	#status-bar > statusbarpanel
, #bookmarksPanel
, #bookmarksPanel
	> hbox
, #bookmarksPanel
	popup:not([id="autoscroller"])
, #bookmarksPanel
	menupopup
, #bookmarksPanel
	treechildren
, #history-panel
, #history-panel
	> hbox
, #history-panel
	popup:not([id="autoscroller"])
, #history-panel
	menupopup
, #history-panel
	treechildren
, #history-panel
	#viewButton
, #main-window
	.tabbrowser-strip[treestyletab-mode]:not([treestyletab-tabbar-position="top"])
, #main-window
	.treestyletab-splitter
{
	background-color: #4b4e77 !important;
}
