@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#main-window menu
, #main-window menuitem
, #bookmarksPanel menu
, #bookmarksPanel menuitem
, #history-panel menu
, #history-panel menuitem
{
  -moz-appearance: menuitem !important;
}

#main-window popup
, #main-window menupopup
, #bookmarksPanel popup
, #bookmarksPanel menupopup
, #history-panel popup
, #history-panel menupopup
{
  -moz-appearance: menupopup !important;
  -moz-border-top-colors   : ThreeDLightShadow ThreeDHighlight ThreeDFace;
  -moz-border-left-colors  : ThreeDLightShadow ThreeDHighlight ThreeDFace;
  -moz-border-right-colors : ThreeDDarkShadow  ThreeDShadow    ThreeDFace;
  -moz-border-bottom-colors: ThreeDDarkShadow  ThreeDShadow    ThreeDFace;
}

#main-window
	.tabbrowser-strip[treestyletab-mode]:not([treestyletab-tabbar-position="top"])
{
	background-color: -moz-dialog !important;
}
